*{
    box-sizing: border-box;
}
@font-face {
    font-family: 'Lato';
    src: url(./fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: 'Lato-Bold';
    src: url(./fonts/Lato-Black.ttf);
}
nav {
    position: fixed;
    top: 1.25rem;
    right: 0;
    left: 0;
    padding: 1rem;
    display: flex;
    width: 60%;
    height: 12%;
    margin-left: auto;
    margin-right: auto;
    background: rgba(42,43,56,.5);
    border: 0.15rem solid #2a2b37;
    backdrop-filter: blur(104px);
    border-radius: 2rem;
    z-index: 1;
}
body {
    display: grid;
    grid-template-columns: .25fr 1fr 1fr 1fr .25fr;
    grid-template-rows: 90% 50% 60% 40% 60% 100%;
    padding: 0 0;
    margin: 0 0;
    height: 100vh;
    width: 100vw;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
}
h2 {
    font-family: 'Lato', Helvetica;
}
main{
    background: rgb(252,252,252);
    background: linear-gradient(132deg, rgba(252,252,252,1) 0%, rgba(223,32,56,1) 21%, rgba(32,223,199,1) 88%);
    grid-row: 1 / 2;
}
.landing{
    display: grid;
    grid-column: 1 / 6;
    grid-template-columns: .5fr 1fr 1fr 1fr .5fr;
    grid-template-rows: 9rem auto auto auto auto;
}
#webDevContainer{
    display: flex;
    grid-row: 2 / 3;
    grid-column: 3 / 5;
    align-items: end;
}
#webDevTitle {
    font-size: 4rem;
    margin-bottom: 0;
    margin-left: .75rem;
}
#webDevPara {
    grid-row: 3 / 4;
    grid-column: 3 / 5;
    padding-left: 2.5rem;
    margin-top: 0;
    font-size: 1.2rem;

}

#blurbOne{
    grid-row: 4 / 5;
    grid-column: 3 / 4;
}
#blurbTwo{
    grid-row: 4 / 5;
    grid-column: 4 / 5;
}

.allSections{
    grid-column: 2 / 5;
}
#portrait {
    display: grid;
    grid-row: 2 / 4;
    grid-column: 2 / 3;
    height: 75%;
    width: auto;
    margin: auto auto;
    padding: 0 0 1.2rem 1.2rem;
    border-left: solid .175rem black;
    border-bottom: solid .175rem black;

}
#aboutMeContainer{
    display: grid;
    grid-template-columns: .3fr 2fr 1fr .5fr .3fr;
    grid-template-rows: auto auto auto;
    grid-row: 2 / 3;
    margin-top: 3rem;
}
#aboutMe{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
#goalsContainer{
    display: grid;
    grid-template-columns: .3fr 2fr 1fr .5fr .3fr;
    grid-template-rows: auto auto auto;
    grid-row: 3 / 4;

}
#goalsTitle{
    grid-row: 2 / 3;
    grid-column: 3 / 5;
}
#JSExampleContainer{
    display: grid;
    grid-template-columns: .5fr 1fr .5fr;
    grid-template-rows: 2r 3fr 2fr;
    background-color: #20DFC7;
    grid-row: 4 / 5;
}
#JSExample{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-left: auto;
    margin-right: auto;
}
#linksContainer{
    display: grid;
    grid-template-columns: 1fr .25fr .25fr 2fr 1fr 2fr .25fr .25fr 1fr;
    grid-template-rows: 1fr .5fr 1fr 2fr 1fr .5fr 1fr;
    grid-row: 5 / 6;
}
#linksOne{
    grid-column: 3 / 5;
    grid-row: 3 / 6;
    border-top: .2rem solid #1A1A1A;
    border-bottom: .2rem solid #1A1A1A;
    border-left: .2rem solid #1A1A1A;
    padding: 0 1.5rem;

}
#linksTwo{
    grid-column: 6 / 8;
    grid-row: 3 / 6;
    border-top: .2rem solid #1A1A1A;
    border-bottom: .2rem solid #1A1A1A;
    border-right: .2rem solid #1A1A1A;
    padding: 0 1.5rem;

}
#linksDivider{
    grid-column: 5 / 6;
    grid-row: 4 / 5;
    border-right: .2rem solid #1A1A1A;
    border-left: .2rem solid #1A1A1A;
    
}
#linkAccentOne{
    grid-row: 5 / 7;
    grid-column: 2 / 4;
    border-left: .5rem solid black;
    border-bottom: .5rem solid black;
}
#linkAccentTwo{
    grid-row: 2 / 4;
    grid-column: 7 / 9;
    border-top: .5rem solid black;
    border-right: .5rem solid black;
}

#contactContainer{
    display: grid;
    grid-template-columns: .25fr 3fr .25fr;
    grid-template-rows: 1.5fr 2fr 1fr;
}
#contactMe{
   grid-row: 2 / 3;
   grid-column: 2 / 3;
   display:grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: .25fr 2fr;
   border-bottom: solid .2rem black;
}
#infoHeader{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
#info1{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}
#info2{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
#footNote{

}

/*Name Generator Styling*/
#buttonGrid {
    display: grid;
    grid-template-columns: .25fr 2fr .25fr;
    grid-template-rows: .25fr 2fr .25fr;
    height: 100%;
    width: 100%;
}
#mainButtonBody {
    display: block;
    height: 90%;
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #666666;
    border: .2rem solid #D35400;
    border-radius: .5rem;
}
#centerChunkGrid {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: .25fr 2fr .25fr;
    grid-template-rows: 1fr 1fr 1fr .75fr;

}
#buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
#generate {
    border-radius: 2rem;
    border: .2rem;
    border-bottom: .2rem solid #D35400;
    border-left: .2rem solid #D35400;
    background: #1A1A1A;
    height: 50%;
    width: 40%;    
}
#buttonHeader {
    grid-row: 0 / 1;
    grid-column: 2 / 3;
}

#blurb {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
}


  /* Medium devices (tablets, 768px and up) */
  @media only screen and (max-width: 991px) {
    .centerChunk {
      display: grid;
      width: 736px;
      margin: 0 auto;
    }
  }
  
  /* Extra small devices (portrait phones, 844px and below) */
  @media only screen and (max-width: 844px) {
    nav {
        display: none;
    }
    #generate {
        border-radius: 2rem;
        border: .2rem;
        border-bottom: .2rem solid #D35400;
        border-left: .2rem solid #D35400;
        background: #1A1A1A;
        height: 50%;
        width: 70%;    
    }



  }

