*{
    box-sizing: border-box;
}
@font-face {
    font-family: 'Lato';
    src: url(./fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: 'Lato-Bold';
    src: url(./fonts/Lato-Black.ttf);
}
body {
    padding: 0 0;
    margin: 0 0;
    height: 100vh;
    width: 100vw;
    background-image: url(./images/super-mario-pixels-retro-games-video-games-wallpaper-preview.jpg);
    z-index: 0;

}
.centerChunk{
    display: grid;
    grid-template-columns: .25fr .25fr 1.5fr 2fr .25fr;
    grid-template-rows: .25fr .25fr 2fr 2fr 2fr .25fr .25fr;
    height: 100%;
    width: 100%;
}

.leftSideBar{
    display: flex;
    grid-column: 2 / 3;
    grid-row: 3 / 6;
    background-color: beige;
    border: 2px solid black;
}
.socialLinks{
    display: flex;
    flex-wrap: wrap;
    align-content: end;
    padding-bottom: 5%;
}
.pictureAboutMe{
    grid-column: 3 / 4;
    grid-row: 2 / 7;
    background-color: beige;
    border: 2px solid black;
    border-radius: .5rem;
}
.grid2{
    display: grid;
    grid-template-columns: .25fr 3fr .25fr;
    grid-template-rows: 5fr .5fr 1.5fr;
    height: 100%;
    width: 100%;
}
.portrait{
    grid-column: 2 / 3;
    grid-row: 1 / 2; 
    overflow: hidden;
}
#smallChungus{
    margin-left: 50%;
    transform: translateX(-50%);
}
.aboutMeTitle {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: center;
    border-bottom: .1rem solid black;
}
.aboutMeParagraph {
    text-align: center;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
p {
    text-align: center;
}
img {
    height: 100%;
    width: auto;
}
.servicesResume{
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    background-color: rgb(128, 148, 58);
    border: 2px solid black;
}
.portfolioExamples{
    grid-column: 4 / 5;
    grid-row: 4 / 5;
    background-color: beige;
    border: 2px solid black;
}
.contactInfo{
    grid-column: 4 / 5;
    grid-row: 5 / 6;
    background-color: beige;
    border: 2px solid black;

}

.svgList {
    padding: 10% 5% 0 5%;
    height: auto;
    width: 100%;
    stroke: whitesmoke;
    }
ul {
    list-style: none;
}
h3 {
    text-align: center;
    text-decoration: underline;
}
services{
    padding-top: 10%;}
git status
h1{
    font-family: 'Lato-bold';
}
  
  /* Medium devices (tablets, 768px and up) */
  @media only screen and (max-width: 991px) {
    .centerChunk {
      display: grid;
      width: 736px;
      margin: 0 auto;
    }
  }
  
  /* Small devices (landscape phones, 576px and up) */
  @media only screen and (max-width: 767px) {
    .centerChunk {
      display: grid;
      width: 480px;
      margin: 0 auto;
    }
  }
  
  /* Extra small devices (portrait phones, 576px and below) */
  @media only screen and (max-width: 575px) {
    .centerChunk {
      display: grid;
      grid-template-columns: .25fr 2fr .25fr;
      grid-template-rows: .25fr 2fr .75fr .75fr .75fr .25fr;
      height: auto;
      width: 100%;
      margin: 0;
    }
    body {
        padding: 0 0;
        margin: 0 0;
        height: 100vh;
        width: 100vw;
        background-image: url(./images/super-mario-pixels-retro-games-video-games-wallpaper-preview.jpg);
        z-index: 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .pictureAboutMe{
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        background-color: beige;
        border: 2px solid black;
        border-radius: .5rem;
    }
    .servicesResume{
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        background-color: rgb(128, 148, 58);
        border: 2px solid black;
    }
    .portfolioExamples{
        grid-column: 2 / 3;
        grid-row: 4 / 5;
        background-color: beige;
        border: 2px solid black;
    }
    .contactInfo{
        grid-column: 2 / 3;
        grid-row: 5 / 6;
        background-color: beige;
        border: 2px solid black;
    
    }
    .leftSideBar{
        display: none;
        grid-column: 2 / 3;
        grid-row: 3 / 6;
        background-color: beige;
        border: 2px solid black;
    }


  }